<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoPermanencia.Conexion.Properties.Settings.Permanencia_2ConnectionString"
            connectionString="Data Source=DESKTOP-IKKFGHH;Initial Catalog=Permanencia_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>