<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProyectoPermanencia.Negocio.Properties.Settings.ConexionServer"
            connectionString="Data Source=10.113.1.38\SQL_PERMANENCIA;Initial Catalog=permanencia;User ID=sa;Password=Duoc.2018!"
            providerName="System.Data.SqlClient" />
        <add name="ProyectoPermanencia.Negocio.Properties.Settings.ConexionGeneral"
            connectionString="Data Source=localhost;Initial Catalog=Permanencia_2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>