div .info {
    font-family: Calibri;
    float: left;
    border-style: solid;
    border-color: rgb(9,40,69);
}

div .ScoreNotas, .ScoreAsistencia, .ScoreFinanzas {
    align-content: center;
    vertical-align: central;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(9,40,69);
}


div Column{
    width: 30%;
}

div MainColumn {
    width: 70%;
}

